<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>name</key>
        <string>Athena UI</string>
        <key>ordering</key>
        <array>
                <string>1F9BB39A-59DE-49B4-AA0E-BCB1AD8535F0</string>
        </array>
        <key>uuid</key>
        <string>2042B20D-4578-48ED-A280-1C2779D42FE2</string>
</dict>
</plist>
